<div class="jumbotron">
  <h1>You're here!</h1>
  <p class="lead">
    <img src="images/128x128.png" alt="I'm cReddit"><br>
    The front page of...
  </p>
<div>
    Email: <input type="text" autofocus="true" ng-model="account.email">
  </div>
  <div>
    Password: <input type="password" ng-model="account.password">
  </div>
  <div>
<!--       <a class="navbar-brand" href="#">
        <img alt="Brand" src="assets/UA-login_btn-large.png">
      </a>
 -->
    <button class="btn btn-info" ng-click="login()">Login</button>
    <button class="btn btn-info" ng-click="register()">Register</button>

  </div>
