<div class="jumbotron">
  <h1>You're here!</h1>
  <p class="lead">
    <img src="images/128x128.png" alt="I'm cReddit"><br>
    The front page of...
  </p>
  <p><a class="btn btn-xs btn-primary" ng-href="#/">Log in<span class="glyphicon glyphicon-ok"></span></a></p>
  <span> or </span>
  <p><a class="btn btn-xs btn-primary" ng-href="#/">Create account</a></p>
</div>

<!-- <div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div> -->
